/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Home Section */
#home {
    text-align: center;
    padding: 2rem 0;
}

#home h2 {
    font-size: 2rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Menu Section */
#menu {
    text-align: center;
    padding: 2rem 0;
}

.menu-item {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* About Section */
#about {
    text-align: center;
    padding: 2rem 0;
}

/* Contact Section */
#contact {
    text-align: center;
    padding: 2rem 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}